<?xml version="1.0" encoding="utf-8"?>
        <manifest
            xmlns:android="http://schemas.android.com/apk/res/android"
            package="com.YDAGame.SmartIlluminationApp"
            android:versionCode="1"
            android:versionName="1.1.0">
            <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
            <uses-feature android:name="android.hardware.sensor.stepcounter" />
            <uses-feature android:name="android.hardware.sensor.stepdetector" />
            <application>
                <activity android:name="com.example.androidpedometer.AndroidPedometer"
                          android:theme="@android:style/Theme.Translucent.NoTitleBar">
                </activity>

            </application>

</manifest>
